In [7]:
np.random.seed(0)
df = pd.DataFrame({
    'key1' : ['A', 'A', 'B', 'B', 'A'],
    'key2' : ['one', 'two', 'one', 'two', 'one'],
    'data1' : [1, 2, 3, 4, 5],
    'data2' : [10, 20, 30, 40, 50],
})
df

  key1 key2  data1  data2
0    A  one      1     10
1    A  two      2     20
2    B  one      3     30
3    B  two      4     40
4    A  one      5     50

# 정숫값을 가리키는 변수

ㄹㅇㄹㄴㅇㄹㅇㄴㄹㄴㅇㄹ

In [10]:
groups = df.groupby(df.key1)
groups

In [11]:
groups.groups

{'A': [0, 1, 4], 'B': [2, 3]}

In [12]:
groups.sum()

      data1  data2
key1
A         8     80
B         7     70

In [14]:
df.data1.groupby(df.key1).sum()

key1
A    8
B    7
Name: data1, dtype: int64

In [17]:
df2.groupby([df2.key1])

AttributeError: 'DataFrame' object has no attribute 'key1'