In [1]:
df = pd.read_csv('C:/Users/User/Documents/카카오톡 받은 파일/results.csv')

In [2]:
df

,date,team,opponent,team_score,opponent_score,tournament
0,1872-11-30,Scotland,England,0,0,Friendly
1,1872-11-30,England,Scotland,0,0,Friendly
2,1873-03-08,England,Scotland,4,2,Friendly
3,1873-03-08,Scotland,England,2,4,Friendly
4,1874-03-07,Scotland,England,2,1,Friendly
...,...,...,...,...,...,...
79333,2018-07-07,Russia,Croatia,2,2,FIFA World Cup
79334,2018-07-07,England,Sweden,2,0,FIFA World Cup
79335,2018-07-07,Croatia,Russia,2,2,FIFA World Cup
79336,2018-07-10,France,Belgium,1,0,FIFA World Cup
79337,2018-07-10,Belgium,France,0,1,FIFA World Cup

In [3]:
ds1 = (df.team == 'Korea Republic') & (df.opponent == 'Japan')
df_ds1 = df.loc[ds1,:]
#df_ds1 = df.loc[ds1,team_score:opponent_score]
print(df_ds1.head())
#df_ds1

            date            team opponent  team_score  opponent_score  \
7069  1954-03-07  Korea Republic    Japan           5               1
7080  1954-03-14  Korea Republic    Japan           2               2
9007  1959-09-05  Korea Republic    Japan           0               0
9014  1959-09-06  Korea Republic    Japan           3               1
9539  1960-11-06  Korea Republic    Japan           2               1

                        tournament
7069  FIFA World Cup qualification
7080  FIFA World Cup qualification
9007            Merdeka Tournament
9014            Merdeka Tournament
9539  FIFA World Cup qualification

In [4]:
ds2 = (df_ds1.team_score > df_ds1.opponent_score)
df_ds2 = df_ds1.loc[ds2,:]
#print(df_ds2.head())
#df_ds2
#print('한국의 승 =', victory)
#len(df_ds2)

In [5]:
ds3 = (df_ds1.team_score == df_ds1.opponent_score)
df_ds3 = df_ds1.loc[ds3,:]
#print(df_ds3.head())
#len(df_ds3)

In [6]:
ds4 = (df_ds1.team_score < df_ds1.opponent_score)
df_ds4 = df_ds1.loc[ds4,:]
#print(df_ds3.head())
#len(df_ds4)

In [9]:
print('한국기준 승 =', len(df_ds2), '무 =', len(df_ds3), '패 =', len(df_ds4))

한국기준 승 = 31 무 = 21 패 = 11