# git hub test

In [2]:
df = pd.read_csv('C:/Users/User/Documents/카카오톡 받은 파일/results.csv')

In [2]:
df

,date,team,opponent,team_score,opponent_score,tournament
0,1872-11-30,Scotland,England,0,0,Friendly
1,1872-11-30,England,Scotland,0,0,Friendly
2,1873-03-08,England,Scotland,4,2,Friendly
3,1873-03-08,Scotland,England,2,4,Friendly
4,1874-03-07,Scotland,England,2,1,Friendly
...,...,...,...,...,...,...
79333,2018-07-07,Russia,Croatia,2,2,FIFA World Cup
79334,2018-07-07,England,Sweden,2,0,FIFA World Cup
79335,2018-07-07,Croatia,Russia,2,2,FIFA World Cup
79336,2018-07-10,France,Belgium,1,0,FIFA World Cup
79337,2018-07-10,Belgium,France,0,1,FIFA World Cup

In [3]:
ds1 = (df.team == 'Korea Republic') & (df.opponent == 'Germany')
df_ds1 = df.loc[ds1,:]
#df_ds1 = df.loc[ds1,team_score:opponent_score]
print(df_ds1)
#df_ds1

             date            team opponent  team_score  opponent_score  \
36599  1994-06-27  Korea Republic  Germany           2               3
49458  2002-06-25  Korea Republic  Germany           0               1
54184  2004-12-19  Korea Republic  Germany           3               1
79294  2018-06-27  Korea Republic  Germany           2               0

           tournament
36599  FIFA World Cup
49458  FIFA World Cup
54184        Friendly
79294  FIFA World Cup

In [4]:
ds2 = (df_ds1.team_score > df_ds1.opponent_score)
df_ds2 = df_ds1.loc[ds2,:]
#print(df_ds2.head())
#df_ds2
#print('한국의 승 =', victory)
#len(df_ds2)

In [5]:
ds3 = (df_ds1.team_score == df_ds1.opponent_score)
df_ds3 = df_ds1.loc[ds3,:]
#print(df_ds3.head())
#len(df_ds3)

In [6]:
ds4 = (df_ds1.team_score < df_ds1.opponent_score)
df_ds4 = df_ds1.loc[ds4,:]
df_ds4.reset_index()
#len(df_ds4)

,index,date,team,opponent,team_score,opponent_score,tournament
0,36599,1994-06-27,Korea Republic,Germany,2,3,FIFA World Cup
1,49458,2002-06-25,Korea Republic,Germany,0,1,FIFA World Cup

In [7]:
print('한국기준 승 =', len(df_ds2), '무 =', len(df_ds3), '패 =', len(df_ds4))

한국기준 승 = 2 무 = 0 패 = 2