# 4.2 문자열과 리스트

문자열과 리스트는 앞서 알아본 자료형 중 순서형(sequence)에 속한다.

## 문자열

문자열에서는 이런 식으로 한 글자마다 번호를 매긴다.

In [1]:
x = 'banana'
x[0]            # 0번 글자는?

'b'

In [2]:
x[2:4]          # 2번부터 4번 앞(3번)까지는?

'na'

In [3]:
x[:3]           # 처음부터 3번 앞(2번)까지는?

'ban'

In [4]:
x[3:]           # 3번부터 끝까지는?

'ana'

그렇다면 banana를 nanana로 바꿀 수 있을까?

In [5]:
x[0] = 'n'

TypeError: 'str' object does not support item assignment

위의 결과와 같이 문자열에 들어있는 글자는 바꿀 수 없다. 꼭 바꾸고 싶다면 아래와 같이 바꿀 수 있다.

In [6]:
x = 'n' + x[1:]
x

'nanana'

이 방법은 b를 n으로 바꾼 것이 아니고 'n'과 'anana'을 합쳐서 문자열 x에 새로 넣어준 것이다.

## 리스트

리스트의 원소 추가

In [7]:
prime = [2, 3, 7, 11]  # 2, 3, 7, 11을 원소로 갖는 리스트 prime을 만듦
prime.append( 5 )      # prime에 원소 5를 추가
prime

[2, 3, 7, 11, 5]

sort 함수를 사용한 정렬

In [8]:
prime.sort()       # prime을 원소 크기 순으로 정렬
prime

[2, 3, 5, 7, 11]

원소 삭제

In [9]:
del prime[4]
prime

[2, 3, 5, 7]

리스트는 문자열과는 달리 원소를 바로 바꿔줄 수 있다.

In [10]:
prime[0] = 1
prime

[1, 3, 5, 7]

리스트에 리스트를 넣을 수도 있다.

In [11]:
orders = ['potato', ['pizza', 'Coke', 'salad'], 'hamburger']
orders[1]

['pizza', 'Coke', 'salad']

In [12]:
orders[1][2]

'salad'

## 문자열을 리스트로 바꾸기

In [13]:
characters = []
sentence = 'Be happy!'
for char in sentence:
    characters.append(char)

print(characters)

['B', 'e', ' ', 'h', 'a', 'p', 'p', 'y', '!']

In [14]:
list('Be happy!')

['B', 'e', ' ', 'h', 'a', 'p', 'p', 'y', '!']

## 숫자를 문자열로 바꾸기

정수(int) 123을 가리키는 my_int 변수가 있다고 한다.

In [15]:
my_int = 123
type(my_int)

int

문자열 '123'을 얻고 싶다면 다음과 같이 할 수 있다.

In [16]:
str(my_int)

'123'

이렇게 얻은 문자열을 다음과 같이 변수에 할당하는 것도 가능하다.

In [17]:
my_str = str(my_int)

엄밀히 말하자면 '숫자를 문자열로 바꾼' 것이라기보다는, '숫자값을 가지고 새로운 문자열을 얻었다'고 표현하는 것이 맞다.

## 리스트 원소들의 합 구하기

1부터 10까지의 정수를 원소로 갖는 리스트 on_to_ten이 있다.

In [18]:
one_to_ten = list(range(1, 11))
one_to_ten

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1부터 10까지를 더한 값은 얼마일까? for 문을 사용해서 계산할 수도 있지만, sum()함수를 이용하면 쉽게 구할 수 있다.

In [19]:
sum(one_to_ten)

55

### 성적표

반 성적표를 만들어 본다. 학생 이름에 국, 영, 수 성적을 넣어주고

In [20]:
chulsu = [90, 85, 70]
younghee = [88, 79, 92]
yong = [100, 100, 100]  
minsu = [90, 60, 70]

우리 반 학생들을 전부 students 리스트에 넣어준다.

In [21]:
students = [chulsu, younghee, yong, minsu]

학생들의 성적이 어떤지 불러보자.

In [22]:
for scores in students:
    print(scores)

[90, 85, 70]
[88, 79, 92]
[100, 100, 100]
[90, 60, 70]

개인의 성적을 더해서 총점, 평균도 내보자.

In [23]:
for scores in students:
    total = 0
    for s in scores:
        total = total + s
    average = total / 3
    print(scores, total, average)

[90, 85, 70] 245 81.66666666666667
[88, 79, 92] 259 86.33333333333333
[100, 100, 100] 300 100.0
[90, 60, 70] 220 73.33333333333333

위에서는 총점을 구하기 위해 total이라는 변수를 사용해서 숫자를 누적시키는 방법을 사용하였다. 아래에서 다른 방법을 통해 진행해 보겠다.

In [32]:
import operator
from functools import reduce

for scores in students:
    total = reduce(operator.add, scores)
    avr = total / len(scores)
    average = int(avr)
    print(scores, total, average)

[90, 85, 70] 245 81
[88, 79, 92] 259 86
[100, 100, 100] 300 100
[90, 60, 70] 220 73